div.table_on_the_left, div.table_on_the_right,div.table_on_the_right1 {
		display:inline-block;
		}
		div.Projekat2, div.Projekat22,div.Projekat222 {
		display:inline-block;
		}
		div.Strana11, div.Strana22, div.Strana25,div.Strana26,div.Strana27 {
		display:inline-block;
		}
		div.vrednosti1, div.vrednosti2,div.vrednosti3,div.vrednosti4 {
		display:inline-block;
		}
		div.Klik1 {
		display:inline-block;
		}
		div.Textbox1,div.Textbox2,div.Textbox3 {
		display:inline-block;
		}
		div.rezultatu,div.mesecnisati {
		display:inline-block;
		}
		div.Admintable,div.vrednosti1 {
		display:inline-block;
		}
		div.admin3,div.admin4,div.InputAdmin {
		display:inline-block;
		}
		div.InputAdmin1,div.InputAdmin2,div.InputAdmin3 {
		display:inline-block;
		}
		div.NoviProjekat2,div.NoviProjekat3{
		display:inline-block;
		}
		div.BrisanjeProjekat4,div.BrisanjeProjekat5,div.BrisanjeProjekat3{
		display:inline-block;
		}
		div.BrisanjeProjekat12,div.BrisanjeProjekat13{
		display:inline-block;
		}
		div.Admintable,div.Strana111{
		    display:inline-block;
		}
		div.AdmintableKor,div.Strana112{
		    display:inline-block;
		}
		div.DeaktivacijaProjekat13,div.Deaktivacija{
		    display:inline-block;
		}
		div.AktivacijaProjekat13,div.Aktivacija{
			display:inline-block;
		}
		
		.center {
				margin: auto;
				width: 50%;
			
			}
		
		.registracijaHTML {
				margin: auto;
				width: 75%;
			
			}
		.Admin  {
				margin: auto;
				width: 80%;
		}		
				
		
		
		div.Pozicija2{
			
			margin-top: 100px;
			margin-right: 150px;
		    margin-left: 150px;
		}
		div.Textbox44{
			margin-top: 25px;
			margin-right: 150px;
		    margin-left: 150px;
		}
		
		
		div.Slicica{
		    margin-top: 10px;
			margin-right: 1200px;
		    margin-left: 0px;
		}
		
		div.StranicaAD1{
		    
		    /*position: fixed;
			margin-top: 30px;
			margin-bottom: 5px;
		    margin-left: 1200px;
			margin-right: 50px;*/
			/*line-height: 18px;
			width: 30px;
			font-size: 10pt;
			font-family: sans-serif;
			margin-top: 30px;
			margin-right: 100px;
			position:absolute;
			top:0;
			right:0;*/
			position:relative;
			width: 100px;
			height: 70px;
			float: right;
			margin-top: 30px;
			margin-right: 30px;
		
			
		}
		
        table
		{
			table-layout: fixed;
			width: 400px;
		}
		tableSama
		{
			table-layout: fixed;
			width: 400px;
		}
		
		div.StranicaAD12{
			margin-top: -39px;
			margin-bottom: 5px;
		    margin-left: 420px;
			margin-right: 200px;
			
		}	

		div.PozicijaA1{
		
		   
			margin-top: 100px;
			margin-bottom: 0px;
		    margin-left: 0px;
			margin-right: 0px;
		
		}

        div.Pomeriti{
           margin-left: -105px; 
        }
        div.PomeranjeLevo{
            margin-left: -100px;
        }
		/*div.Projekti-korisnk{

			margin-left: -50px;
		}*/
		
		.dropdown-content1 {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 12px 16px;
		}
		.dropdown1:hover .dropdown-content1 {
			display: block;
		}
		.dropdown12:hover  {
			display: block;
		}	
		
		
		#trenutnaNedelja td 
		{
			text-align:center; 
			vertical-align:middle;
		}
		
		#trenutnaNedelja th 
		{
			text-align:center; 
			vertical-align:middle;
		}
		
		#presidents td 
		{
			text-align:center; 
			vertical-align:middle;
		}
		#adminTable td 
		{
			text-align:center; 
			vertical-align:middle;
		}
		#adminTable th 
		{
			text-align:center; 
			vertical-align:middle;
		}	
		#presidents th 
		{
			text-align:center; 
			vertical-align:middle;
		}	
		#adminTableKor td 
		{
			text-align:center; 
			vertical-align:middle;
		}	
		#adminTableKor th 
		{
			text-align:center; 
			vertical-align:middle;
		}	
		
		
		.ul1 {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: white;
			position: fixed;
			right: 0px;
			left:0px;
			top:0px
		}

		.li1,li2 {
			float: left;
			
		}
		.Nazad {

			/*margin-top:30px;
			margin-left:868px;*/
			line-height: 18px;
			width: 70px;
			height: 34px;
			font-size: 11pt;
			font-family: sans-serif;
			margin-top: 30px;
			margin-right: 43px;
			position:absolute;
			top:0;
			right:0;
		}


		.li1,li2 {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.li1,li2 {
			background-color: white;
		}
		
		.head {
		    
			margin-top:50px;
			/*width:1500px;*/
		
		}
        .ul2 {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: black;
			right: 0px;
			left: 0px;
			top:20px;
			height:60px;
		}

		.a4 {
			float: left;
		}

		.a4 {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			height:50px;
			width:100%;
		}

		.a4 {
			background-color: black;
		}

		.a4 {
		    display: inline-block;
		}
		
		.ul3,ulSifra,ulSifra1{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
			height:50px;
			
		}

		.a5,a6 {
			float: left;
		}

		.a5,a6 {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			height:50px;
			width:100%;
		}

		.a5,a6 {
			background-color: black;
		}
        
		.a5,a6 {
			display: inline-block;
		}
		
		#footerIznad {
		height: 100%;   
		position: relative;    
	}
	/*Head da bude na dnu stranice*/
    
	
	div.KlikNedeljeTrenutne{
	    
		margin-top: 5px;
		margin-right: 150px;
		margin-left: 150px;
	
	}
	div.Pozicija4{
	       
			margin-top: 50px;
			margin-right: 150px;
		    margin-left: 150px;
	}
	div.StranaTebela{
	
	    margin-top: 150px;
		margin-left: 150px;
	}
	
	
	div.Pozicija5{
	       
			margin-top: 15px;
			margin-right: 900px;
		    margin-left: 150px;
	}
	/*Da bi header uvek bio u podnoziju*/
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}	
	#id4 {
			min-height:100%;
			position:relative;
		}
		
		
	#body1 {
		padding:10px;
		padding-bottom:60px;   /* Height of the footer */
	}
	#footer1 {
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;   /* Height of the footer */
		background:black;
	}
	
	
		
		
	
	.ui-dialog > .ui-widget-header {background: red;}

	.ui-dialog .ui-dialog-buttonpane button.ui-button {
		border: 1px solid black;
		color: #FF0000;
	}
	
    .ulPocetna 
	{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: white;
			position: fixed;
			right: 0px;
			left:0px;
			top:0px
	}

		.liPocetna,liPocetna1,liPocetna2 {
			float: left;
			
		}
		.Nazad1 {
             border: 1px solid black;
			margin-top:-57px;
			margin-left:300px;
		}
        
		.Nazad2 {

			margin-top:30px;
			margin-left:50px;
		}
		

		.liPocetna,liPocetna1,liPocetna2 {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.liPocetna,liPocetna1,liPocetna2 {
			background-color: white;
		}
		/* Strana sifra */
		#id7 {
			min-height:100%;
			position:relative;
		}
		#body2 {
			padding:10px;
			padding-bottom:60px;   /* Height of the footer */
		}
		#footer2 {
			position:absolute;
			bottom:0;
			width:100%;
			height:60px;   /* Height of the footer */
			background:black;
		}
		#id8 {
			min-height:100%;
			position:relative;
		}
		#body3 {
			padding:10px;
			padding-bottom:60px;   /* Height of the footer */
		}
		#footer3 {
			position:absolute;
			bottom:0;
			width:100%;
			height:60px;   /* Height of the footer */
			background:black;
			
		}
		.ulPocetnaSifra {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: white;
			position: fixed;
			right: 0px;
			left:0px;
			top:0px
		}
		.ulPocetnaSifra1 {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: white;
			position: fixed;
			right: 0px;
			left:0px;
			top:0px
		}
          
		.liPocetnaSifra {
			float: left;
			
		}

		.liPocetnaSifra {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.liPocetnaSifra {
			background-color: white;
		}
		.liPocetnaSifra1 {
			float: left;
			
		}

		.liPocetnaSifra1 {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		.liPocetnaSifra1 {
			background-color: white;
		}
		div.Pomeraj{
		   
		    margin-top:157px;
			margin-left:150px;
		
		}
		div.Pomeraj1{
		   
		    margin-top:20px;
			margin-left:150px;
		
		}
		#nemaAD,#nemaAD1,#TableVelika{
			color: gray;
		}
		.a10 {
			float: left;
		}

		.a10 {
			display: inline-block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			height:50px;
			width:100%;
		}

		.a10 {
			background-color: black;
		}
        
		.a10 {
			display: inline-block;
		}
		
		hr{
			border: 1px solid #ccc;
			/*width:1300px;*/
			
		
    margin-left: 0px;
    margin-right: 0px;
   
		}
		
		.some{

			width:1300px;
			height: 35px;
		}
		.some1{

			width:1300px;
			height: 35px;
		}
		
		#sep{
		     width:85px;
		}
		#dec{
		    text-align: center;
			width:85px;
		}
		#nov{
		    text-align: center;
			width:85px;
		}
		
		#sep1{
		     width:85px;
		}
		#dec1{
		    text-align: center;
			width:85px;
		}
		#nov1{
		    text-align: center;
			width:85px;
		}
		#sep2{
		     width:85px;
		}
		#dec2{
		    text-align: center;
			width:85px;
		}
		#nov2{
		    text-align: center;
			width:85px;
		}
		#kor1{
			text-align: center;
			width:75px;
		}
        #projektiP{
            text-align: center;
			width:330px;
			height: 35px;

		}
		#naz{

			 text-align: center;
			width:330px;
		}
		#projekatT{
             text-align: center;
			width:330px;
			height: 35px;
		}
		#sat{

            text-align: center;
			width:85px;

		}